/* Bloc <pre> contenant le code : formatage visuel du cadre */
pre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0 auto;                       
    background-color: rgb(40, 40, 39);     
    text-align: left;
    width: auto;
    border-radius: 10px;             
    padding-right: 10px;
}

/* Style du texte à l’intérieur du bloc de code */
pre code {
    font-size: 14px;
    line-height: 1.4;
    color: #FFFFFF;
    font-family: Fira Code, monospace;    
    white-space: pre-wrap;                
    word-break: break-word;                 
    padding: 10px;
    justify-self: center;
}

/* Paragraphe d’explication accompagnant chaque bloc de code */
p.explication {
    margin: 15px 10px;
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
}

/* Section contenant chaque bloc de code et son explication */
section.code {
    display: block;
    margin-right: 20px;
    width: 80vw;                           
    margin-bottom: 50px;
    justify-self: center;                  
}
